@use "../../sass/variables" as *;

.search-box{
    margin:5px;
    &__input{
        padding: 5px;
        border: 3px solid $color-primary;
        border-radius: 8px;
        background-color:white;
    }
    &__label{
        font-size: 20px;
        font-weight: bold;
    }
    ::placeholder{
        color:grey;

    }
}
